*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 16px;
}

#titulo{
	background-color: #444F5E;
	text-align: center;
	height: 80px;
}

#titulo a{
	text-decoration: none;
	color: #519B75;
	display: block;
	font-size: 60px;
}

#titulo a:hover{
	text-decoration: none;
	color: #86AEE5;
}

#btn1{
	text-decoration: none;
	padding: 10px;
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
	border-radius: 6px;
	background-color: #123FFF;
	border: 2px solid #0016b0;
	text-align: center;
}

#btn1:hover{
	background-color: #FFFFFF;
	color: #1883ba;
}

#parte1{
	margin: 40px 450px 20px 450px;
	padding: 30px 80px 10px 80px;
}

#texto{
	margin: 5px 350px 20px 350px;
	padding: 5px 80px 70px 80px;
	text-align: center;
	font-size: 16px;
	font-family: arial;
}

#parte2{
	margin: 40px 450px 20px 450px;
	padding: 30px 80px 10px 80px;
}

footer{
	background-color: #444F5E;
	color: #051133;
	text-align: center;
	padding: 20px 0; 
}